gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
# Firebase's config for push (115): written by CI from a secret, like the key.
app/google-services.json
**/*.keystore
**/*.jks
